$boulder-color: #777;
$white-color: #fff;
$emperor-color: #555;
$mine-shaft-color: #222;
$mercury-color: #eaeaea;
$grey-color: #999;
$black-color: #000;
$inverse-color: #333;
$border-color: rgba(0, 0, 0, .15);
$shadow-color: rgba(0, 0, 0, .175);
$bold-border: rgba(0, 0, 30, .8);
$red-color: #f00;
