@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome';
@import 'config/settings';

body {
  background-color: $white-color;
  margin-top: 100px;

  @media (min-width: 768px) {
    margin-top: 50px;
  }
}

.wrapper {
  padding-left: 0;

  @media (min-width: 768px) {
    padding-left: 225px;
  }
}

.navbar-brand.admin-brand {
  color: $white-color;
  font-weight: 900;
  text-transform: uppercase;
}

@mixin top-nav-li {
  display: inline-block;
  float: left;

  >a {
    &:hover,
    &:focus {
      background-color: $black-color;
      color: $white-color;
    }
  }
}

.top-nav {
  padding: 0 15px;

  >li {
    @include top-nav-li;
    >a {
      color: $grey-color;
      line-height: 20px;
      padding-bottom: 15px;
      padding-top: 15px;
    }
  }

  .open {
    @include top-nav-li;
    >a {
      background-color: $black-color;
      color: $white-color;
    }

    >.dropdown-menu {
      background-color: $white-color;
      border: 1px solid $border-color;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      box-shadow: 0 6px 12px $shadow-color;
      float: left;
      margin-top: 0;
    }
  }
}

.alert-dropdown {
  width: 200px;
}


.side-nav {
  @media (min-width: 768px) {
    background-color: $mine-shaft-color;
    border: 0;
    border-radius: 0;
    bottom: 0;
    left: 225px;
    margin-left: -225px;
    overflow-x: hidden;
    overflow-y: auto;
    padding-bottom: 40px;
    position: fixed;
    top: 51px;
    width: 225px;

    >li>a {
      width: 225px;
    }
  }
}

.page-wrapper {
  background-color: $white-color;
  padding: 0;
  width: 100%;

  @media (min-width: 768px) {
    padding: 10px;
  }
}

@mixin panel-color($color, $bold-color, $inverse-color: $white-color) {
  border-color: $color;

  .panel-heading {
    background-color: $color;
    border-color: $color;
    color: $inverse-color;
  }

  a {
    color: $color;

    &:hover,
    &:focus {
      color: $bold-color;
    }
  }
}

.panel-black {
  @include panel-color($inverse-color, $black-color);
}

.huge {
  font-size: 40px;
  line-height: normal;
}

.form-horizontal .form-group div {
  padding-right: 0;

  &:last-of-type {
    padding-right: 15px;
  }
}

@mixin inverse-item {
  color: $white-color;
  background-color: $inverse-color;
  border-color: $inverse-color;
}

.btn-default.btn-inverse {
  @include inverse-item;
  &:hover,
  &:focus {
    background-color: $black-color;
    color: $white-color;
  }
}

.input-group-addon.addon-inverse {
  @include inverse-item;
}

.form-group.required .control-label::after {
  color: $red-color;
  content: '*';
}

.user-avatar {
  border: 5px solid $bold-border;
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.no-top-margin {
  margin-top: 0;
}

.text-muted.role {
  vertical-align: text-top;
}

.text-center {
  .modal {
    text-align: left;
  }
}

.help-block.with-errors {
  color: $red-color;
}

.full-width {
  width: 100%;
}
