@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'config/settings';

body {
  padding-top: 60px;
}

.upper {
  margin-top: -60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;

  h1 {
    margin-bottom: 10px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

h1:not(.in-pdf) {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

.in-pdf {
  font-weight: bold;
}

h2 {
  color: $boulder-color;
  font-size: 1.2em;
  font-weight: normal;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.logo {
  color: $white-color;
  float: left;
  font-size: 1.7em;
  font-weight: bold;
  letter-spacing: -1px;
  margin-right: 10px;
  padding-top: 9px;
  text-transform: uppercase;

  &:hover {
    color: $white-color;
    text-decoration: none;
  }
}

footer {
  border-top: 1px solid $mercury-color;
  color: $boulder-color;
  margin-top: 45px;
  padding-top: 5px;

  a {
    color: $emperor-color;
  }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;

    li {
      float: left;
      margin-left: 15px;
    }
  }
}

.cv-main {
  background-color: white-color;
  margin: 0 auto;
  width: 210mm;

  .user-image {
    margin-top: 20px;
  }

  .form-info:hover {
    border-color: $dusty-gray-color;
    border-style: solid;
    border-width: .5px;

    >.tool-box {
      visibility: visible;
    }
  }

  .form-info {

    >.tool-box {
      visibility: hidden;
    }
  }

  [contenteditable=true]:empty::before {
    color: $dusty-gray-color;
    content: attr(placeholder);
    display: block;
    text-align: left;
  }

  .contact-name {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: capitalize;
  }

  .contact-title {
    font-weight: bold;
    text-align: right;
  }

  .contact-content,
  .form-info,
  .contact-name {
    text-align: left;
  }

  .form-title {
    margin-top: 18px;

    .input-text {
      font-weight: bold;
      text-transform: uppercase;
    }

    hr {
      border-color: $black-color;
      border-style: inset;
      display: block;
      margin-bottom: 4px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 4px;
    }
  }

  .subform:hover {
    border-color: $dusty-gray-color;
    border-style: solid;
    border-width: 1px;

    [contenteditable=true] {
      border-color: $dusty-gray-color;
      border-style: dashed;
      border-width: .5px;
    }

    .tool-box {
      float: right;
      visibility: visible;
    }
  }

  .subform {
    .tool-box {
      visibility: hidden;
    }

    .title-content {
      .input-text {
        font-weight: normal;
        margin-bottom: 4px;
        text-transform: none;

        .title {
          font-weight: bold;
        }
      }
    }
  }
}

.template-div {
  border: 1px solid $alto-color;
  border-radius: 5px;
  margin-left: 40px;
  margin-right: 40px;

  >.row {
    margin-left: 0;
    margin-right: 0;
    width: 100%;

    >img {
      height: 300px;
    }
  }

  &:hover,
  &:focus {
    opacity: .7;
  }
}
