@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'config/settings';

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;

  h1 {
    margin-bottom: 10px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  color: $boulder-color;
  font-size: 1.2em;
  font-weight: normal;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.logo {
  color: $white-color;
  float: left;
  font-size: 1.7em;
  font-weight: bold;
  letter-spacing: -1px;
  margin-right: 10px;
  padding-top: 9px;
  text-transform: uppercase;

  &:hover {
    color: $white-color;
    text-decoration: none;
  }
}

footer {
  border-top: 1px solid $mercury-color;
  color: $boulder-color;
  margin-top: 45px;
  padding-top: 5px;

  a {
    color: $emperor-color;
  }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;

    li {
      float: left;
      margin-left: 15px;
    }
  }
}

.cv-main {
  margin: 0px auto;
  width: 210mm;
  padding: 20mm;
  background-color: white-color;

  .form-info:hover {
    border-width: 0.5px;
    border-style: solid;
    border-color: #999;
    >.tool-box {
      visibility: visible;
    }
  }

  .form-info {
    >.tool-box {
      visibility: hidden;
    }
  }

  [contenteditable=true]:empty:before {
    content: attr(placeholder);
    display: block;
    color: #999;
    text-align: left;
  }

  .contact-name {
    margin-bottom: 10px;
  }

  .contact-title {
    text-align: right;
  }

  .contact-content,
  .form-info,
  .contact-name {
    text-align: left;
  }

  .form-title {
    margin-top: 18px;

    hr {
      display: block;
      margin-top: 4px;
      margin-bottom: 4px;
      margin-left: auto;
      margin-right: auto;
      border-style: inset;
      border-color: black;
    }
  }

  .subform:hover {
    border-style: solid;
    border-color: #999;
    border-width: 1px;

    [contenteditable=true] {
      border-style: dashed;
      border-width: 0.5px;
      border-color: #999;
    }

    .tool-box {
      margin-bottom: 5px;
      margin-top: 5px;
      float: right;
      visibility: visible;
    }
  }

  .subform {
    .tool-box {
      visibility: hidden;
    }

    .title-content {
      .input-text {
        margin-bottom: 4px;
      }
    }
  }
}
