<p><%= t(".hello") + @resource.email + "!" %></p>

<p><%= t ".detail_1" %></p>

<p><%= link_to t(".change_password"),
  edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t ".detail_2" %></p>
